.App {
  text-align: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sideBySide {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.comparisons-sideBySide {
  max-width: 49%;
  height: auto;
}
.comparisons-sideBySide > img {
  max-width: 100%;
  height: auto;
}
.buttonWrapper {
  display: flex;
  height: 100%;
}
.slideCounter {
  position: absolute;
  top: 0;
  right: 0;
}
.content-onlyImage {
  max-width: 70vw;
  max-height: 60vh;
}
.subHeaderImg {
  margin-bottom: 4vh;
  margin-top: -3vh;
}